<div class="row m-0">
    <div class="col-2 sidenave bg-primarry p-0">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <img class="w-50 text-center m-auto pr-1" src="../../assets/imgs/Beyti-logo-en-220-173.png">
        <a class="nav-link p-3 border_bott_sidenav text-white " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="Dashboard" routerLinkActive="active">Dashboard</a>
        <a class="nav-link p-3 border_bott_sidenav text-white active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="Tickets" routerLinkActive="active">Tickets</a>
        <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" routerLink="login" routerLinkActive="active">login</a>
        <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
    </div>



    <div class="col-10">
      
      <nav class="nav_dimention">

      </nav>



        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      


          <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
          Add New Tickets
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title m-auto" id="exampleModalCenterTitle">Ticket</h5>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                
                  <form>
                      <div class="container">
                          <div class="pb-3">
                            <input type="text" class="form-control" placeholder="First name">
                          </div>
                       
                         
                          <div class="pb-3">
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        
                     
                     
                          <div class="form-group col-md-10">
                              <label for="inputState">SLA</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                              </select>
                          </div>
                        
                            <div class="form-group col-md-10">
                                <label for="inputState">SLA</label>
                                <select id="inputState" class="form-control">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                            </div>
                          
                              <div class="form-group col-md-10">
                                  <label for="inputState">SLA</label>
                                  <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                              </div>
                         


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Create</button>
                          </div>

                        </div>
                    </form>


              </div>
             
            </div>
          </div>
        </div>





    </div>
  

  </div>