<body class="m-0 p-0 raleway">
  


    <!-- header -->
    <div class="col-10 px-0  ml-auto">
    <nav class="navbar navbar-light bg-light justify-content-between nav_bar_shadow mb-5 container-fluid py-3 px-0" id="mainNav">
        <div class="container">
         <div class="nav-item">

               <div class="media">
                   <img class="align-self-end  mr-3" src="../../assets/imgs/Layer 4.png" alt="Generic placeholder image">
                     <div class="media-body align-self-center">
                         <h6 class="my-auto ">Loged in as Dispature</h6>
                     </div>
                 </div>
         </div>
             <div class="text-right">
                    <a class="nav-link open-font-color " data-toggle="modal" data-target="#exampleModal" href="#">
                            Logout <img src="../../assets/imgs/logout.png"></a>
             </div>
           </div>
       </nav>
      </div>
    
    </body>