<body class="fixed-nav sticky-footer pb-5 bg-bety raleway p-0 m-0" id="page-top">
    <!-- <div class="bg-bety"> -->
    
        <app-sidebar></app-sidebar>
        

  


            <!-- header -->
            <div class="col-10 px-0  ml-auto">
            <nav class="navbar navbar-light bg-light justify-content-between nav_bar_shadow mb-5 container-fluid py-3 px-0" id="mainNav">
                <div class="container">
                 <div class="nav-item">
        
                       <div class="media">
                           <img class="align-self-end  mr-3" src="../../assets/imgs/Layer 4.png" alt="Generic placeholder image">
                             <div class="media-body align-self-center">
                                 <h6 class="my-auto ">Loged in as Dispature</h6>
                             </div>
                         </div>
                 </div>
                     <div class="text-right">
                            <a class="nav-link open-font-color " data-toggle="modal" data-target="#exampleModal" href="#">
                                    Logout <img src="../../assets/imgs/logout.png"></a>
                     </div>
                   </div>
               </nav>







               <div class="jumbotron jumbotronbg m-5">
                  <div class="container">
                      <div class="media d-flex flex-row">
                          <img class="mr-3" src="../../assets/imgs/Layer 4.png" alt="Generic placeholder image">
                          <div class="media-body d-flex flex-coloum justify-content-around">
                            <h5 class="mt-0"><span class="open-font-color font-weight-bold">Name :</span><span>mostafa shaban</span></h5>
                            <h5 class="mt-0"><span class="open-font-color font-weight-bold">Layer :</span><span>mostafa shaban</span></h5>
                          </div>
                          <p class="mt-0 "><span class="open-font-color font-weight-bold">Number of tickets done : :</span><span>mostafa shaban</span></p>
                          
                        </div>
                  </div>
                </div>




                <div class=" m-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                
                    <div class="head_line open-font-color mb-3">Opened Tickets</div>
                    <table class="table table-scroll" >
                        
                        <thead class="thead-light text-uppercase font-weight-bold">
                            <tr class="d-flex">
                              
                              <th class="col-3" scope="col">Assingned to</th>
                              <th class="col-4" scope="col">date</th>
                              <th class="col-5" scope="col">sla</th>
                            </tr>
                          </thead>
                        <tbody class="bg_table text-dark">

                            <tr class="table_border_btom d-flex">
                                <td class="col-3 pl-4">
                                    <div class=" media py-3 open-border-color w-50 mr-auto d-flex flex-column justify-content-center">
                                        <div class="m-auto"><img class="ticket_img" src="../../assets/imgs/ticketopened2.png" alt="Generic placeholder image"></div>
                                        <div class="media-body align-self-center ">
                                            <span class="align-middle">no1</span>
                                          </div>
                                      </div>
                                  
                                </td>
                                <td class="col-4 d-flex flex-column" colspan="2">
                                    <div><span  class="open-font-color font-weight-bold">Name :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Client :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Date :</span><span>date_here</span></div>
                                    <div >
                                      <span  class="open-font-color font-weight-bold">Progress :</span>
                                      <div class="progress">
                                        <div class="progress-bar done-bg-color" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div>
                                </td>
                                <td class="col-5  pr-5" colspan="2">
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </td>
                                
                              </tr>




                              
                            <tr class="table_border_btom d-flex">
                                <td class="col-3 pl-4">
                                    <div class=" media py-3 open-border-color w-50 mr-auto d-flex flex-column justify-content-center">
                                        <div class="m-auto"><img class="ticket_img" src="../../assets/imgs/ticketopened2.png" alt="Generic placeholder image"></div>
                                        <div class="media-body align-self-center ">
                                            <span class="align-middle">no1</span>
                                          </div>
                                      </div>
                                  
                                </td>
                                <td class="col-4 d-flex flex-column" colspan="2">
                                    <div><span  class="open-font-color font-weight-bold">Name :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Client :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Date :</span><span>date_here</span></div>
                                    <div >
                                      
                                    </div>
                                </td>
                                <td class="col-5  pr-5" colspan="2">
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </td>
                                
                              </tr>



                              
                            <tr class="table_border_btom d-flex">
                                <td class="col-3 pl-4">
                                    <div class="media py-3 open-border-color w-50 mr-auto d-flex flex-column justify-content-center">
                                        <div class="m-auto"><img class="ticket_img" src="../../assets/imgs/ticketopened2.png" alt="Generic placeholder image"></div>
                                        <div class="media-body align-self-center ">
                                            <span class="align-middle">no1</span>
                                          </div>
                                      </div>
                                  
                                </td>
                                <td class="col-4 d-flex flex-column" colspan="2">
                                    <div><span  class="open-font-color font-weight-bold">Name :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Client :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Date :</span><span>date_here</span></div>
                                    <div >
                                      <span  class="open-font-color font-weight-bold">Progress :</span>
                                      <div class="progress">
                                        <div class="progress-bar done-bg-color" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div>
                                </td>
                                <td class="col-5 pr-5" colspan="2">
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </td>
                                
                              </tr>


                              
                            <tr class="table_border_btom d-flex">
                                <td class="col-3 pl-4">
                                    <div class="media py-3 open-border-color w-50 mr-auto d-flex flex-column justify-content-center">
                                        <div class="m-auto"><img class="ticket_img" src="../../assets/imgs/ticketopened2.png" alt="Generic placeholder image"></div>
                                        <div class="media-body align-self-center ">
                                            <span class="align-middle">no1</span>
                                          </div>
                                      </div>
                                  
                                </td>
                                <td class="col-4 d-flex flex-column" colspan="2">
                                    <div><span  class="open-font-color font-weight-bold">Name :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Client :</span><span>name_here</span></div>
                                    <div><span  class="open-font-color font-weight-bold">Date :</span><span>date_here</span></div>
                                    <div >
                                      <span  class="open-font-color font-weight-bold">Progress :</span>
                                      <div class="progress">
                                        <div class="progress-bar done-bg-color" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div>
                                </td>
                                <td class="col-5  pr-5" colspan="2">
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </td>
                                
                              </tr>


                          
                            
                        </tbody>
                      </table>
                      
                </div>
              











              </div>
            



















  </body>