<body class="fixed-nav sticky-footer pb-5 bg-bety" id="page-top">
  <!-- <div class="bg-bety"> -->
  
      <app-sidebar></app-sidebar>

  
      <div class="col-10 px-0 ml-auto" >


      <nav class="navbar navbar-light bg-light justify-content-between nav_bar_shadow mb-5 container-fluid py-3 px-0" id="mainNav">
          <div class="container">
           <div class="nav-item">
  
                 <div class="media">
                     <img class="align-self-end  mr-3" src="../../assets/imgs/Layer 4.png" alt="Generic placeholder image">
                       <div class="media-body align-self-center">
                           <h6 class="my-auto ">Loged in as SuperAdmin</h6>
                       </div>
                   </div>
           </div>
               <div class="text-right">
                      <a class="nav-link open-font-color " data-toggle="modal" data-target="#exampleModal" href="#">
                              Logout <img src="../../assets/imgs/logout.png"></a>
               </div>
             </div>
         </nav>
  
            <div class="container" ng-f>
           
              
              <table class="table mt-4 pt-4">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">SLA Name</th>
                    <th scope="col">Time1</th>
                    <th scope="col">Time2</th>
                    <th scope="col">Time3</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                  </tr>
                </thead>
                <tbody class="bg_table"  >
                  <tr class="table_border_btom" *ngFor="let item of slas">
                    <th scope="row">{{item.SLA_name}} </th>
                    <td class="py-3">{{item.L1_Time}}</td>
                    <td class="py-3">{{item.L2_Time}}</td>
                    <td class="py-3">{{item.L3_Time}}</td>
                    <td>
                      <button type="button" class="btn btn-success text-center text-white mx-auto d-block my-2 ">Update</button>
                    </td>
                    <td>
                      <button type="button" class="btn over-due-bg-color text-center text-white mx-auto d-block my-2 ">Delete</button>
                    </td>
                  </tr>
                 
                </tbody>
              </table>


              <nav aria-label="Page navigation example open-font-color">
                  <ul class="pagination justify-content-center open-font-color ">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>


                
          <!-- Button trigger modal -->
              <button type="button" class="btn add-btn text-center text-white mx-auto d-block mt-4 mb-4 open-font-color" data-toggle="modal" data-target="#exampleModalCenter" (click)="getlayer()">
                  Create New SLA <span class="pl-2"><img src="../../assets/imgs/add tic text.png"></span>
                </button>
           
              
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New SLA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="container" method="post" #slaForm="ngForm"  (ngSubmit)="create(slaForm)">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control" id="recipient-name" name="slaname" #slaname="ngModel" [ngModel]="slaService.selectedSla.slaname" placeholder="Name" >
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="number" class="form-control" name="Layer_id" #Layer_id="ngModel" [ngModel]="slaService.selectedSla.Layer_id" placeholder="Layer_id" >
                      </div>
                    
                      <!-- <div class="form-check form-check-inline pr-4 pb-4" *ngFor="let item of layers;let i=index">
                          <input type="checkbox" aria-label="Checkbox for following text input" [id]="'layer-'+i" value="{{item.Layer_id}} " [checked]="item.Layer_id"  [(ngModel)]="check"  (change)="isAnswerProvided($event, check)" >
                        <label for="message-text" class="mr-2 col-form-label" [for]="'layers-'+i">{{item.Layer_name}}</label>
                      </div> -->
                      <!-- <div class="form-check form-check-inline pr-4 pb-4">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="message-text" class="mr-2 col-form-label">Layer2</label>
                      </div>
                      <div class="form-check form-check-inline pr-4 pb-4">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        <label for="message-text" class="mr-2 col-form-label">Layer3</label>
                      </div> -->
                      <div class="form-group row">
                          <label for="inputEmail1" class="col-sm-3 col-form-label">Time 1</label>
                          <div class="col-sm-9">
                            <input  class="form-control" id="inputEmail1" placeholder="Enter a time" name="l1time" #l1time="ngModel" [ngModel]="slaService.selectedSla.l1time">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-sm-3 col-form-label">Time 2</label>
                            <div class="col-sm-9">
                              <input  class="form-control" id="inputEmail2" placeholder="Enter a time" name="l2time" #l2time="ngModel" [ngModel]="slaService.selectedSla.l2time">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Time 3</label>
                            <div class="col-sm-9">
                              <input  class="form-control" id="inputEmail3" placeholder="Enter a time" name="l3time" #l3time="ngModel" [ngModel]="slaService.selectedSla.l3time">
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn on-hold-bg-color text-white" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn open-bg-color text-white">Create</button>
                        </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>

        </div>
    </div>
           
              
 </body>