
    <div class="col-2 sidenave navbar-expand-lg position-fixed  bg-primarry p-0">

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <img class="w-50 text-center m-auto pr-1" src="../../assets/imgs/Beyti-logo-en-220-173.png">

        
          <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/register">technician</a>


          <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/sla">sla</a>


        </div>
      </div>