
<body class="dashbord-bg">

    <app-sidebar></app-sidebar>
    <app-navbar></app-navbar>
    
    


    <div class="col-10 ml-auto">

      
        <!-- 3rd level of support -->
        <div class="row">
        
            <div class="col-3">
              <img src="../../assets/imgs/third line of support.png">
            </div>

            <!-- technician0 -->

            <div class="col-9">
              <div class="col-6">
                <div class=" m-auto inner-border dashbord-tec-bg-1"></div>
              </div>
            </div>


         </div>






        
        


      hello from dashborad
    </div>






</body>