.raleway{
    font-family: 'Raleway', sans-serif; 
}
.bg_img{
    background-image: url('/../assets/imgs/Artboard_3.png') ;
    height: 100%;
}
.second_cont{
    max-width: 734px;
    max-height: 100%;
}
.img_width{
    width: 108px;
}
.text_prim{
    color:  #014785;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #013c6f;
    border-radius: 0;
}