
body{
    font-family: $font-family;
}

.head_line{
    font-size: 27px;
}




//fonts

.font_size_3{
    font-size: 14px;
}
.font_size_5{
    font-size: 12px;
}





//color

.on-hold-font-color{
    color: $orangee;
}
.on-hold-bg-color{
    background-color: $orangee;
}

.open-bg-color{
    background-color: $bg-primarry;
}
.open-font-color{
    color: $bg-primarry;
}

.over-due-font-color{
    color: $redd;
}
.over-due-bg-color{
    background-color: $redd;
}

.done-font-color{
    color: $bg-second;
}
.done-bg-color{
    background-color: $bg-second;
}
.dashd-bg-color{
    background-color: $dashbord-color;
}





//bg


.bg-bety{
    background-image: url("/../assets/imgs/bg-bety2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bg_table{
    background-color: rgba(255, 255, 255 , 0.6);
}

//btn
.add-btn{
    border-radius: 2px;
    background-color: rgb(77, 183, 72);
    width: 240px;
    height: 50px;      
}


.table_border_btom{
    border-bottom: 1px solid #cccccc;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #013c6f;
    border-radius: 0;
}

.page-item.active .page-link{
    background-color: $bg-primarry;
    border-color:$bg-primarry;
}

