//colors
$bg-primarry:  #014785;
$bg-second:  #4db748;
$redd:  #ff0000;
$orangee:  #fe5d11;
// $bg-primarry:  #014785;
// $bg-second:  #014785;
$component-active-bg:  #013c6f ;
$nav-pills-link-active-bg: #013c6f ;


//fonts
$font-family: 'Raleway', sans-serif; 

