<div class="row m-0">
  <div class="col-2 sidenave bg-primarry p-0">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <img class="w-50 text-center m-auto pr-1" src="../../assets/imgs/Beyti-logo-en-220-173.png">
      <a class="nav-link p-3 border_bott_sidenav text-white active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="Dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="Tickets" routerLinkActive="active">Tickets</a>
      <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" routerLink="login" routerLinkActive="active">login</a>
      <a class="nav-link p-3 border_bott_sidenav text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
  </div>

</div>